@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&family=Poppins:ital,wght@0,300;0,500;1,400&display=swap");

/* ========== variable ========*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(233, 57%, 15%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --transition-slow: all 0.2s linear;
  --transition-fast: all 0.1s linear;
  --spacing: 0.5rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0px 5px 15px rgba(0, 0, 0, 0.4);
  --max-width: 1170px;
  --fixed-width: 450px;
  --clr-orange-1: hsl(12, 83%, 98%);
  --clr-orange-2: hsl(14, 91%, 95%);
  --clr-orange-3: hsl(12, 89%, 89%);
  --clr-orange-4: hsl(13, 87%, 82%);
  --clr-orange-5: hsl(13, 88%, 68%);
  --clr-orange-6: hsl(13, 88%, 55%);
  --clr-orange-7: hsl(13, 74%, 49%);
  --clr-orange-8: hsl(13, 74%, 33%);
  --clr-orange-9: hsl(13, 73%, 25%);
  --clr-orange-10: hsl(13, 73%, 16%);
  --font-primary: "Merriweather", serif;
  --font-secondary: "Poppins", sans-serif;
}

/* ========== Global Setting ========*/
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-secondary);
  background: var(--clr-white);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  text-transform: capitalize;
  line-height: 1.25;
  font-family: var(--font-primary);
}
h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 30px;
}
h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 10px;
}
h3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 10px;
}
h4 {
  font-size: 0.875rem;
  font-weight: 700;
  margin-bottom: 10px;
}
p {
  font-family: var(--font-secondary);
  font-weight: 300;
  color: var(--clr-grey-1);
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1.5;
  }
}
/* ========== Section Setting ========*/
/* page */
.page {
  width: 95vw;
  margin: auto;
}

/* navigation */

.nav {
  margin: 0px auto 50px auto;
  height: 80px;
  width: 95vw;
  overflow: hidden;
  border-bottom: var(--clr-red-light) solid 2px;
  transition: height 0.3s;
}

.nav-display {
  height: 400px;
}

.nav-logo {
  height: 80px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.nav-logo img {
  height: 55px;
  object-fit: contain;
}

.nav-toggle {
  cursor: pointer;
  position: relative;
}

.toggle-icon {
  position: absolute;
  right: 0px;
  top: 0px;
  transform: translateY(-50%);
  font-size: 2rem;
  color: var(--clr-red-light);
}

.toggle-icon-hide {
  display: none;
}

.nav-links {
  width: 100%;
  display: block;
}

.nav-links li {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-link {
  font-size: 1.1rem;
  font-weight: 300;
  color: var(--clr-grey-1);
  text-transform: capitalize;
  line-height: 1.25;
}

.nav-link-active {
  color: var(--clr-red-light);
}

.nav-contact {
  margin: auto;
  height: 40px;
  width: 120px;
  background-color: var(--clr-red-light);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.nav-contact span {
  color: var(--clr-white);
  font-size: 1.2rem;
}

@media screen and (min-width: 900px) {
  .nav {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav-logo {
    height: auto;
    width: auto;
    display: flex;
  }

  .nav-toggle {
    display: none;
    z-index: -99;
  }

  .nav-links {
    width: 70%;
    padding-left: 80px;
    display: flex;
    justify-content: flex-start;
  }

  .nav-links li {
    height: 80px;
    width: auto;
  }

  .nav-link {
    font-size: 1.25rem;
    margin-right: 50px;
  }

  .nav-contact {
    height: 40px;
    width: 120px;
    margin-right: 0px;
  }
}
/* footer */
.footer {
  margin: 50px auto 0px auto;
  height: 80px;
  width: 95vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-red-light);
}

.footer a {
  color: var(--clr-white);
}

/* 404 section */
.error-section {
  width: 100vw;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.error-section h1 {
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: var(--spacing);
}
.error-section h1 {
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: var(--spacing);
}
.error-section p {
  font-size: 2rem;
  text-transform: capitalize;
}

/* ===== home page ====== */
.home-hero {
  height: 500px;
  width: 100%;
  position: relative;
}

.h-h-img {
  height: 500px;
  width: 100%;
}

.h-h-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  padding: 40px 100px;
  background: rgba(255, 255, 255, 0.7);
  text-align: center;
  color: var(--clr-grey-1);
}

.h-h-title p {
  font-size: 1.25rem;
  text-transform: capitalize;
}

.h-h-form {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

input,
button,
label {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  margin-bottom: 10px;
}

input {
  height: 50px;
  width: 250px;
  border: none;
  border-radius: 5px;
  border: var(--clr-grey-1) solid 1px;
  margin-right: 10px;
  padding: 10px;
  text-transform: capitalize;
}

button {
  height: 50px;
  width: 100px;
  border: none;
  border-radius: 5px;
  background-color: var(--clr-white);
  transition: var(--transition-slow);
  cursor: pointer;
  box-shadow: var(--light-shadow);
}

button:hover {
  background-color: var(--clr-grey-1);
  color: var(--clr-white);
}

/* ===== recipes page ====== */
.recipes-title {
  margin-bottom: 50px;
  text-align: center;
}

.r-c-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  column-gap: 50px;
  row-gap: 50px;
}
.r-c-l-i-image {
  height: 400px;
}

.r-c-t-text {
  text-transform: capitalize;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 150px));
  column-gap: 5px;
  row-gap: 5px;
  margin-bottom: 50px;
}

.r-c-t-text p {
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  background-color: var(--clr-orange-2);
  transition: var(--transition-slow);
  cursor: pointer;
}

.r-c-t-text p:hover {
  color: var(--clr-red-light);
}

@media screen and (min-width: 900px) {
  .recipes-center {
    display: grid;
    grid-template-columns: 250px 1fr;
    column-gap: 50px;
  }

  .r-c-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 450px));
    column-gap: 50px;
    row-gap: 50px;
  }

  .r-c-t-text {
    display: grid;
    grid-template-columns: 1fr;
  }
  .r-c-t-text p {
    text-align: left;
    padding: 5px;
    border-radius: 0px;
    background-color: transparent;
  }

  .r-c-t-text p:hover {
    color: var(--clr-red-light);
  }
}

/* ===== about page ====== */
.about-intro {
  margin: 0px auto 50px auto;
  width: 80vw;
  text-align: center;
}

.about-intro p {
  color: var(--clr-red-light);
  font-size: 1.2rem;
}

.a-i-icon {
  margin: 50px auto 0px auto;
  font-size: 2rem;
  color: var(--clr-red-light);
}

.about-content {
  margin: 0px auto 50px auto;
  width: 85vw;
  display: grid;
  grid-template-rows: 500px 500px;
  row-gap: 20px;
}

.a-c-1,
.a-c-2 {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: var(--dark-shadow);
}

.a-c-1-img {
  height: 100%;
}

.a-c-1-text {
  position: absolute;
  width: 85%;
  bottom: 20px;
  left: 20px;
  color: var(--clr-white);
}

.a-c-2 {
  display: grid;
  grid-template-rows: 60% 1fr;
}

.a-c-2-text {
  margin: 20px 40px auto 20px;
}

.about-readmore {
  margin: auto;
  width: 200px;
  height: 50px;
  background-color: var(--clr-red-light);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.a-r-link {
  color: var(--clr-white);
}

@media screen and (min-width: 900px) {
  .about-content {
    margin: 0px auto 50px auto;
    width: 95vw;
    display: grid;
    grid-template-rows: 600px;
    grid-template-columns: 1fr 400px;
    column-gap: 100px;
  }

  .a-c-2 {
    display: grid;
    grid-template-rows: 40% 1fr;
  }
}
